html,
body {
  --bs-light: 128, 128, 128;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  --bs-dark: var(--nat-navbar-bg);
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
:root {
  --nat-navbar-bg: #1d573a;
  --nat-navbar-bg-rgb: 29, 87, 58;
  --nat-navbar-text-color: white;
  --nat-navbar-bgG: #363636;
}
footer, footer a {
  color: var(--nat-navbar-text-color);
}
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}
.green-background {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color)
}
.gray-background {
  background-color: var(--nat-navbar-bgG);
  color: var(--nat-navbar-text-color)
}